<footer riot-tag="main-footer" class="clearfix dark" style="margin-top: 100px;">     
  <div class="subfooter"> 
    <div class="subfooter-inner"> 
      <div class="row"> 
        <div class="col-md-12"> 
          <p class="text-center" style='margin: 0px 0 0px;'>Copyright © 2015 Carpenter by <a target="_blank" href="#" style="color:#CCCCCC">RhinoBird</a>. All Rights Reserved</p> 
        </div> 
      </div> 
    </div> 
  </div>
</footer>