<!DOCTYPE HTML>
<html>
  <head>
    <title>小野如初</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdn1.lncld.net/static/js/av-mini-0.6.4.js"></script>
    <script>
      AV.initialize('j1QWvVrBVx8ljyGe4qg3Oe8t', '70Tc5290V0d2Jo4xfcQacILo');
      
      console.log("当前用户", AV.User.current())
      

    </script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top" id="header">
      <div class="container-fluid" style="max-width: 1000px;">
        <div class="navbar-header" >
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" style="background: url(/assets/WildWarmLOGO-01.png) no-repeat; width: 76px; background-size: contain;"></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">首页 <span class="sr-only">(current)</span></a></li>
  
            <li class="current_show hidden" ><a href="/products">商品 <span class="sr-only">(current)</span></a></li>
            <li class="current_show hidden" ><a href="/posts">文章</a></li>

            <!-- <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li> -->
          </ul>
          <!-- <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form> -->
          <ul class="nav navbar-nav navbar-right">

            <li class="dropdown current_show hidden ">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="current_name"></span><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">修改密码</a></li>
                <li><a href="#" id="logout">注销</a></li>
              </ul>
            </li>

            <li class="current_login" ><a href="/login">登录</a></li>
            <li class="current_login" ><a href="/signup">注册</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container" style="margin-top: 85px; max-width: 1000px;">
      <%- body %>
    </div>
    
    <% include ../views/footer %>
    <script>

      if(AV.User.current()){
        $('.current_show').removeClass('hidden')
        $('.current_login').addClass('hidden')
        $('.current_name').text(AV.User.current().get('username'))
      }

      $('#logout').on('click', function(){
        AV.User.logOut();    
        window.location.href = '/'
        return false
      })

    </script>
  </body>
</html>
