
<div class="row">
  <div style="display: table;width: auto;margin-left: auto;margin-right: auto;">
    <div class="panel panel-default" style="width: 300px;">
      <div class="panel-heading">
        <h3 class="panel-title">登录</h3>
      </div>
      <div class="panel-body">
        <!-- <form id="loginForm" class="search-form-middle" action="/login" method="POST"> -->
          <label>用户名</label>
          <input class="form-control" name="username" id="username" type="text">
          <label>密码</label>
          <input class="form-control" name="password" id="password" type="password">
          <br>
          <button class="btn btn-success" id="login" type="submit" data-disable-with="操作中...">登录</button>
        <!-- </form> -->
      </div>
    </div>
  </div>
</div>

<script>
  // console.log(AV.User.current())
  $(function () {
    function empty(str) {
      return str == null || str == '';
    }
    $('#login').on('click', function(){
      var username = $('#username').val()
      var password = $('#password').val()

      if (empty(username)) {
        alert('用户名不能为空');
        return false;
      }
      if (empty(password)) {
        alert('密码不能为空');
        return false;
      }

      AV.User.logIn(username, password, {      
        success: function(user){
          console.log(AV.User.current())
          // setResLoginStatus(res, user)
          window.location.href = '/'
        },
        error: function (user, error) {
          res.json({
            error: '您输入的用户名与密码不匹配。'
          });
        }
      });
    })


  })
</script>

