<div class="row col-md-12">
  <ol class="breadcrumb" style="background-color: white; padding: 8px 0px;">
    <li><a href="/">首页</a></li>
    <li class="active">文章</li>
  </ol>
</div>

<div class="row">
  <% for(var i=0; i<posts.length; i++) {%>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <a href="/posts/1" class="thumbnail" style="padding: 0px; border: aliceblue; margin-bottom: 15px;">
        <img data-src="holder.js/100%x180" alt="100%x180" src="<%= posts[i].image %>" data-holder-rendered="true" style="display: block;">
      </a>
      <p class="text-center" style="font-size: 16px; margin: 0 0 30px;">
        <a href="/posts/1"><%= posts[i].name %></a>
      </p>
    </div>
  <% } %>
</div>
</div>

