
<div class="row col-md-12">
  <ol class="breadcrumb" style="background-color: white; padding: 8px 0px;">
    <li><a href="/">首页</a></li>
    <li class="active">商品</li>
  </ol>
</div>

<div class="row">
  <% for(var i=0; i<products.length; i++) {%>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <a href="/products/1" class="thumbnail" style="padding: 0px; border: aliceblue; margin-bottom: 15px;">
        <img data-src="holder.js/100%x180" alt="100%x180" src="<%= products[i].image %>" data-holder-rendered="true" style="display: block;">
      </a>
      <div style="margin-bottom: 30px;">
        <a href="/products/1"><%= products[i].name %></a>
        <p class="pull-right" style="color: #878787;">￥<%= products[i].price %></p>
      </div>
  
    </div>
  <% } %>
</div>


