
<div class="row col-md-12">
  <ol class="breadcrumb" style="background-color: white; padding: 8px 0px;">
    <li><a href="/">首页</a></li>
    <li><a href="/products">商品</a></li>
    <li class="active">轻松调频EZFM</li>
  </ol>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-8">
    <img src="http://imgs-qn.iliangcang.com/ware/upload/orig/2/151/151102.jpg" title="【元元本本-舟记2015】（套装）" alt="【元元本本-舟记2015】（套装）" style="width: 100%;">
    <img src="http://imgs-qn.iliangcang.com/ware/upload/orig/2/151/151142.jpg" title="【元元本本-舟记2015】（套装）" alt="【元元本本-舟记2015】（套装）" style="width: 100%;">
    <img src="http://imgs-qn.iliangcang.com/ware/upload/orig/2/151/151113.jpg" title="【元元本本-舟记2015】（套装）" alt="【元元本本-舟记2015】（套装）" style="width: 100%;">
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4">
    <div class="gdName" style="font-size:26px;height:auto;line-height:36px;vertical-align:middle;">
      <a href="/i/brand/own/?id=187" target="_blank">轻松调频EZFM</a>
    </div>
    <div class="gdName" style="font-size:18px;"> 元元本本-舟记2015（套装） </div>
    <div class="infoItem" style="font-size:16.5px;line-height:18px; ">价格／ 
      <span style="color:#333;" id="goodsPrice">¥129.00元</span>
    </div>
    <div class="infoItem amountCon">
      <span>数量／</span>
      <div class="mopt">
        <a href="javascript:;" onclick="addAmount(0);">－</a>
        <input type="text" class="inpt" value="1" id="goodsAmount" name="goodsAmount" readonly=""> 
        <a href="javascript:;" onclick="addAmount(1);">＋</a>
      </div>
    </div>
       
    <div class="giftInfoCon">
      <div class="tle" style="display:none"><i class="icon-gitchk icon-unchecked" state="0"></i><span>礼物包装</span></div>
      <div class="con">此商品可选择良仓提供的礼物包装和手写贺卡服务，请在结算页面进行选择。</div>
    </div>
    <input type="hidden" name="is_gift" id="is_gift_goods" value="0">
      
      
    <div class="infoItem buyAll" style="padding-bottom:0px;">
      <a href="javascript:;" class="buy2" id="buyNow" style="display: none;">立即购买</a>
      <p style="" id="goodsBuyOver">已售罄，即将到货</p>
    </div>
       
    <div class="infoItem" style="height:36px;">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
          <a href="#" class="btn138_34 addcar2" id="addCartBtn" goods_id="106377">加入购物车</a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <a href="javascript:;" class="btn138_34 shareTo2" onclick="goodsSend(event,this);" goodsid="106377" goodsname="【元元本本-舟记2015】（套装）" goodsimg="http://imgs-qn.iliangcang.com/ware/goods/mid/2/106/106377.jpg?t=1418205544" title="分享">分享</a> 
        </div>
      </div>
    </div>  
      
    
    <div class="navTitle" style="margin-top:70px; font-size:18px;">轻松调频EZFM / 品牌简介</div>
    <div class="navItemCon">
      <p>80年代起，轻松调频EZFM率先向国内听众介绍各类欧美音乐；90年代，开创独树一帜的中英双语广播；进入21世纪，EZFM更丰富多元。轻松调频EZFM作为一个广播品牌，不断影响几代人的生活方式和思想空间。轻松调频与良仓合作推出两款笔记本，由招牌节目“飞鱼秀”主持人小飞与喻舟跨界设计，一起回归书写的传统。</p>
    </div>
       <!-- end 大声展活动商品,线上ID：109 -->
      
    <div class="navTitle" style="margin-top:30px;">商品描述</div>
    <div class="navItemCon">
      <p>
        ·12月29日起正式发货<br><br>封面材质：高级变色皮<br>尺寸：18cm&nbsp;&nbsp;x&nbsp;&nbsp;13cm<br>页数：120页&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><br>内容：<br>男册：空白页面<br>女册：配有喻舟原创插画<br><br>纸质：80g米黄胶版纸<br>封底：内置收纳袋<br><br>“男册”附赠：<br>•&nbsp;&nbsp;4张明信片：背面为小飞的摄影作品<br><br>“女册”附赠：<br>•&nbsp;&nbsp;彩色版2015年日历（至2016年第一季度）<br>•&nbsp;&nbsp;表情贴：3每天都有一个表情。365天只有三个哭脸表情，愿你的生活充满更多笑脸。<br>（更有专属女生一月一次的表情贴哟）<br>
      </p>
    </div>
      
     
      <!--大声展活动商品,线上ID：109 -->
    <div class="navTitle" style="margin-top:30px;">购物指南</div>
    <div class="navItemCon">
      <p>
        所有商品均为正品保证。
      </p>
      <p>
       下单后四个工作日内发货。
      </p>
      <p>
       中国大陆地区免运费，默认发顺丰或圆通快递。
      </p>
      <p>
        蜡烛、液态品、手表等含电池产品无法空运，运输时间相较普通空运件会更久。
      </p>
      <p>
       如出现产品质量问题请在签收后72小时内联系客服。
      </p>
    </div>
  </div>

  </div>
</div>


