
<div class="row">
  <div style="display: table;width: auto;margin-left: auto;margin-right: auto;">
    <div class="panel panel-default" style="width: 300px;">
      <div class="panel-heading">
        <h3 class="panel-title">注册</h3>
      </div>
      <div class="panel-body">
        <label>用户名</label>
        <input class="form-control" id="username" type="text">
        <label>邮箱</label>
        <input class="form-control" id="email" type="text">
        <label>密码</label>
        <input class="form-control" id="password" type="password">
        <label>密码确认</label>
        <input class="form-control" id="password_again" type="password">
        <br>
        <button class="btn btn-success" id="signup" data-disable-with="操作中...">提交</button>
      </div>
    </div>
  </div>
</div>



<script>
  $(function () {
    function empty(str) {
      return str == null || str == '';
    }
    console.log('111111');
    $('#signup').on('click', function(){
      var username = $('#username').val()
      var email = $('#email').val()
      var password = $('#password').val()
      var password_again = $('#password_again').val()

      if (empty(username)) {
        alert('用户名不能为空');
        return false;
      }
      if (empty(email)) {
        alert('邮箱不能为空');
        return false;
      }
      if (empty(password)) {
        alert('密码不能为空');
        return false;
      }
      if (empty(password_again)) {
        alert('密码确认不能为空');
        return false;
      }
      if (password != password_again) {
        alert('确认密码有误');
        return false;
      }

      var user = new AV.User();
      // user_name = f.account.split('@')[0];

      user.set("username", username);
      user.set("password", password);
      user.set("email", email);

      user.signUp(null, {
        success: function (user) {
          console.log(AV.User.current())
          window.location.href = '/'   
        },
        error: function (user, error) {
          console.log('error')
          res.json({
            error: '您输入的邮箱地址已经被使用过。'
          });
        }
      });
    });
  });
</script>
