html, body{height:100%;}
.container{
  min-height:100%;
  _height:100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
#main {
  width: 1000px;
  margin: 0 auto;
  padding-top: 100px;
  clear: both;
  _padding-top: 130px;
}
#header {
  position: fixed;
  z-index: 9990;
  top: 0;
  width: 100%;
  left: 0;
  _position: absolute;
  _top: expression(eval(document.documentElement.scrollTop-56))background:#fff;
  letter-spacing: 1px;
  font-family: 'Hiragino Sans GB','microsoft yahei' ,'Arial';
}


.clearfix {
  display: block;
}
.clearfix:before, .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.gdName {
  font-size: 20px;
  padding: 0px 0px;
  color: #333;
  line-height: 26px;
}
.infoItem {
    font-size: 14.5px;
    padding: 10px 0px;
    line-height: 24px;
    vertical-align: middle;
    color: #393433;
}
.amountCon {
    padding: 5px 0px 25px 0px;
    width: 100%;
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
}
.amountCon .mopt {
    height: 32px;
    display: inline;
    font-size: 0px;
}
.amountCon .mopt a {
    display: inline-block;
    color: #fff;
    width: 24px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;
    background: #939393;
    text-align: center;
}
.amountCon .inpt {
    padding: 0px;
    width: 36px;
    height: 24px;
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    color: #666;
    font-size: 13px;
    border: none;
    background: #dcdcdc;
    text-align: center;
}
.giftInfoCon {
    font-size: 12px;
    padding: 15px 0px 10px 0px;
    width: 300px;
    line-height: 20px;
    color: #555;
}
.buyAll {
    font-size: 21.8px;
    color: #999;
    font-weight: 100;
    text-align: center;
    margin-top: 15px;
}
.buy2 {
    background: #98b5d5;
    width: 300px;
    height: 34px;
    display: inline-block;
    line-height: 34px;
    border: none;
    color: #fff;
    font-size: 18px;
}
.addcar2 {
    background: url() #bcccda no-repeat;
    float: left;
}
.btn138_34 {
    display: inline-block;
    width: 100%;
    height: 34px;
    border: none;
    color: #fff;
    text-align: center;
    line-height: 34px;
    vertical-align: middle;
    font-size: 16px;
}
.shareTo2 {
    background: url() #9fa0a0 no-repeat;
    float: right;
}
.navTitle {
    background: #e6e6e6;
    height: 36px;
    width: 100%;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    font-size: 18px;
    color: #000;
    margin-top: 10px;
}
.navItemCon {
    padding: 10px 0px;
}
 navItemCon p {
    line-height: 24px;
    padding: 5px 0px;
    font-size: 14px;
    color: #999;
    word-break: break-all;
    word-wrap: break-word;
}


.ttpl-wrapper {
    margin-top: 0px;
}
.ttpl-wrapper .content-04 {
    text-align: left;
    clear: both;
    width: 100%;
    font-size: 12px;
    color: #666;
    line-height: 18px;
    position: relative;
    margin-bottom: 20px;
}
.ttpl-wrapper .content-11 {
    padding: 10px 4.7%;
    width: 90.6%;
    text-align: left;
    clear: both;
    font-size: 28px;
    color: #000;
    line-height: 32px;
    position: relative;
}
.ttpl-wrapper .content-12 {
    text-align: left;
    clear: both;
    width: 90.6%;
    padding: 0px 4.7%;
    letter-spacing: 1px;
    font-size: 12px;
    color: #666;
    line-height: 18px;
    position: relative;
    margin-bottom: 20px;
}
.ttpl-wrapper .content-07 {
    width: 90.6%;
    padding: 0px 4.7%;
    font-size: 0px;
    margin-bottom: 20px;
    position: relative;
}
.ttpl-wrapper .content-07 .line {
    clear: both;
    font-size: 0px;
    height: 0px;
    width: 100%;
    display: block;
    border-bottom: 1px solid #e6e6e6;
}
div.line {
    border-top: 1px solid #ccc;
    width: 100%;
    margin: 15px 0px;
    font-size: 0px;
}
.ttpl-wrapper .content-05 {
    text-align: left;
    clear: both;
    width: 90.6%;
    padding: 0px 4.7%;
    font-size: 15px;
    line-height: 24px;
    color: #333;
    position: relative;
    margin-bottom: 20px;
}
.ttpl-wrapper * {
    vertical-align: top;
}
.ttpl-wrapper .content-04 img {
    width: 100%;
    margin-bottom: 10px;
}
.ttpl-wrapper .content-03 {
    text-align: left;
    clear: both;
    width: 90.6%;
    /*padding: 10px 4.7% 0px 4.7%;*/
    font-size: 14px;
    color: #333;
    line-height: 22px;
    position: relative;
    margin-bottom: 20px;
}
.ttpl-wrapper .content-02 {
    text-align: left;
    clear: both;
    width: 90.6%;
    /*padding: 0px 4.7%;*/
    font-size: 18px;
    color: #333;
    line-height: 26px;
    position: relative;
    margin-bottom: 20px;
}
.ttpl-wrapper .content-01 {
    text-align: left;
    clear: both;
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}
.ttpl-wrapper .content-01 img {
    width: 100%;
}
.topic_right {
    position: fixed;
    margin-left: 728px;
    top: 150px;
    width: 272px;
    overflow: hidden;
}
.topic_right .navtit {
    margin-bottom: 9px;
    height: 14px;
    line-height: 14px;
    color: #333;
    font-size: 12px;
    background: url(http://www.iliangcang.com/images/default/topic_down.jpg) right 4px no-repeat;
}
.topic_right li a.imgslt {
    display: block;
    width: 126px;
    height: 76px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -ms-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
}
.topic_right ul {
    padding-top: 14px;
    margin-bottom: 40px;
    border-top: #ededed 1px solid;
    width: 292px;
}
.topic_right li {
    float: left;
    width: 126px;
    margin-right: 20px;
}
.clr {
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
}
.topic_tits {
    width: 100%;
    padding-top: 10px;
    height: 14px;
    line-height: 14px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    text-align: center;
    text-overflow: ellipsis;
}
.topic_tits a, .topic_tits:link, .topic_tits:visited, .topic_tits:hover {
    color: #333;
    text-decoration: none;
}

#wrap_left {
    width: 1000px;
    padding: 22px 35px;
    text-align: left;
    letter-spacing: 2pt;
    background-color: #ffffff;
}


.cf {
    display: block;
}
.cf:after {
    content: "";
    display: block;
    clear: both;
    height: 0px;
}
.innerTitle {
    margin-top: 15px;
}
.innerContentsInterview {
    font-size: 11px;
    line-height: 1.7;
    margin-top: 10px;
    letter-spacing: 2px;
}
.dark .subfooter {
    background-color: #373737;
    border-color: #454545;
}
.clearfix:before {
    display: table;
    content: " ";
}
.dark .subfooter {
    background-color: #373737;
    border-color: #454545;
}
.subfooter {
    font-size: 14px;
    line-height: 1.3;
    color: #999999;
}
.subfooter {
    text-align: left;
}
.subfooter {
    background-color: #f5f5f5;
    padding: 25px 0;
    border-top: 1px solid #eaeaea;
}